body {
    height: 100vh;
    background-color: #41ead4
}

header {
    height: 10vh;
    width: 100%;
    background-color: #0c0f0a;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div {
    height: 100%;
    width: 80%;
    color: #ff206e;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
}

.main {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background-color: #ff206e;
    margin: 10px;
}

.form-container > form {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form > input {
    width: 60%;
}

button {
    background-color: #fbff12;
    font-size: .5rem;
    margin: 5px;
    padding: 5px;
}

.todo {
    width: 80%;
    height: 50px;
    background-color: #0c0f0a;
    color: #ff206e;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 10px;
}

.todo-task {
    margin-left: 10px;
}

.complete {
    text-decoration: line-through;
}